.parallax {
  position: relative;
  overflow: hidden;

}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;

  font-family: 'HeeboR';
  font-size: 2.25rem;

 
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 3rem;
    line-height: 3rem;
  }
}