.container{
   position: relative;
  background: #ffffff;
  overflow-x: hidden;
  z-index: 10;
}

.title {
  font-family: 'Alata';
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600; 
  line-height: 1.2;
  margin: 2% auto;
  position: relative;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin: 2% auto 
}

.imageLink {
  text-decoration: none;
  width: 20%;
}

.imageFrame {
  width: 100%;
  aspect-ratio: 16/9;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
  .imageLink {
    width: 40%;
  }
/* רספונסיביות */

.description {
  font-size: 1.4rem;

  color: #4a4a4a;
margin:2% auto;
text-align: center;
  font-family: 'HeeboR';
}
