.container {
  position: relative;
  background: #ffffff;
  overflow-x: hidden;
  z-index: 10;
}

.title {
  font-family: 'Alata';
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600; 
  line-height: 1.2;
  margin: 2% auto;
  position: relative;
}

/* מתחת ל-350px */
@media (max-width: 349px) {
  .title {
    font-size: 1.2rem;
    margin: 1% auto;
    line-height: 1.1;
  }
}

/* 350-450px */
@media (min-width: 350px) and (max-width: 450px) {
  .title {
    font-size: 1.5rem;
    margin: 2% auto;
    line-height: 1.15;
  }
}

/* 450-550px */
@media (min-width: 450px) and (max-width: 550px) {
  .title {
    font-size: 1.7rem;
    margin: 1.4% auto;
    line-height: 1.2;
  }
}

/* 550-650px */
@media (min-width: 550px) and (max-width: 650px) {
  .title {
    font-size: 1.8rem;
    margin: 1.6% auto;
  }
}

/* 650-750px */
@media (min-width: 650px) and (max-width: 750px) {
  .title {
    font-size: 2rem;
    margin: 1.8% auto;
  }
}

/* 750-850px */
@media (min-width: 750px) and (max-width: 850px) {
  .title {
    font-size: 2.2rem;
    margin: 2% auto;
  }
}

/* 850-950px */
@media (min-width: 850px) and (max-width: 950px) {
  .title {
    font-size: 2.3rem;
    margin: 2% auto;
  }
}

/* 950-1050px */
@media (min-width: 950px) and (max-width: 1050px) {
  .title {
    font-size: 2.4rem;
    margin: 2% auto;
  }
}

/* 1050-1150px */
@media (min-width: 1050px) and (max-width: 1150px) {
  .title {
    font-size: 2.5rem;
    margin: 2% auto;
  }
}

/* 1150-1250px ומעלה */
@media (min-width: 1150px) {
  .title {
    font-size: 2.6rem;
    margin: 2% auto;
  }
}