.container{
   position: relative;
  background: #ffffff;

  overflow-x: hidden;
  z-index: 10;
}
.title {
  font-family: 'Alata';
  font-size: 2.5rem;

  text-align: center;
font-weight: 600; 
  line-height: 1.2;
  margin: 2% auto;
  position: relative;

}
